%h1.text-center Admin Rooms
.container-fluid
  .col-md-2.room.available
    .text-center
      Room 1
  .col-md-2.room.booked
    .text-center
      Room 2
  .col-md-2.room.available
    .text-center
      Room 3
  .col-md-2.room
    .text-center
      Room 4
  .col-md-1.add-room
    .fa.fa-plus.fa-5x
