.container.hidden-xs.hidden-sm
  .row
    / Testimonials
    %section.testimonials.mt50
      .col-md-12
        %h2.lined-heading
          %span Reviews from our Guests
        .col-md-6
          .c100.p80.big.black.center
            %span 80%
            .slice
              .bar
              .fill
        .col-md-6
          #owl-reviews.owl-carousel
            - ReviewImage.all.each_slice(2) do |review_arr|
              .item
                - review_arr.each do |review|
                  .row
                    .col-lg-3.col-md-4.col-sm-2.col-xs-12
                      %img.img-circle{:alt => "Review 1", :src =>review.image.url(:thumb), width: 100, height: 100}
                    .col-lg-9.col-md-8.col-sm-10.col-xs-12
                      .text-balloon
                        = review.content
                        %span= review.name
    / About
.container
  .row
    %section.about.mt50
      .col-md-12
        %h2.lined-heading.fadeIn.appear{"data-start" => "800"}
          %span Our Hotels
        / Nav tabs
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#hotel"} Our hotels
          %li
            %a{"data-toggle" => "tab", :href => "#location"} Location
        / Tab panes
        .tab-content
          #hotel.tab-pane.in.active
            %p Settled down in the center of Ho Chi Minh City, the Blue River Hotel is far more than just a place to sleep. It inspires loyal guests to create treasured memories, to celebrate each moment and to rekindle their spirit. It is a state of mind where the ambiance and amenities are merely the gateway to a more majestic experience.
            %p
              Make yourself at home in our well-designed hotel rooms. Which showcase high quality mattress and pillows. Enjoy our complimentary coffee and tea while you're relaxing your body and mind in the most comfortable hotel

          #location.tab-pane.fade
            %p Our hotel is right in the heart of the city (district 1, Ho Chi Minh city). See the map for detail:
            = link_to 'https://www.google.com/maps/dir//blue+river+hotel+1' do
              = image_tag 'https://maps.googleapis.com/maps/api/staticmap?center=blue+river+hotel&zoom=16&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x0379ff%7Cblue+river+hotel+1', alt: 'Google Map of Blue River Hotel', width: '100%'
