%footer.black
  .container
    .row
      .col-md-3.col-sm-3
        %h4 About Blue River Hotel
        %p
          Our hotel is right in the center of the district 1, Ho Chi Minh City, Vietnam.
          %br/
          All of our rooms are well-designed for your comfortable and satisfaction.
          %br/
          Our staffs are always available 24/7 for serving all your needs.
      .col-md-6.col-sm-6
        %h4.text-center Location
        = link_to 'https://www.google.com/maps/dir//blue+river+hotel+1' do
          = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center=blue+river+hotel&zoom=16&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x0379ff%7Cblue+river+hotel+1', alt: 'Google Map of Blue River Hotel', width: '100%'
      .col-md-3.col-sm-3
        %h4.text-center Address
        %address
          %strong The Blue River Hotel
          %br/
          283/2C Phạm Ngu Lao
          %br/
          District 1, Ho Chi Minh City, Vietnam
          %br/
          %abbr{:title => "Phone"} Phone:
          %a{:href => "tel:+84838376483"} (+84 8) 3837 6483
          %br/
          %abbr{:title => "Email"} Email:
          %a{:href => "mailto:blriverhotel@gmail.com"} blriverhotel@gmail.com
          %br/
          %abbr{:title => "Website"} Website:
          %a{:href => "https://blriverhotel.com"} https://blriverhotel.com
          %br/
  .footer-bottom#footer-bottom-grad
    .container
      .row
        .col-xs-6 © #{Time.now.year} BlueRiverHotel All Rights Reserved
        .col-xs-6
          %a{href: 'https://www.facebook.com/blueriverphamngulao/?notif_t=page_fan&notif_id=1496982273070191'}
            .fa.fa-facebook.social-btn.pull-right
          %a{href: 'https://www.tripadvisor.com/Hotel_Review-g293925-d676046-Reviews-Blue_River_Hotel-Ho_Chi_Minh_City.html'}
            .fa.fa-tripadvisor.social-btn.pull-right
