%section.gallery-slider.mt100
  .container
    .row
      .col-md-12
        %h2.lined-heading
          %span Gallery
  #owl-gallery.owl-carousel
    .item
      %a{"data-rel" => "prettyPhoto[gallery1]", :href => asset_url("800x504.gif")}
        %img{:alt => "Image 1", :src => asset_url("800x504.gif")}/
        %i.fa.fa-search
    .item
      %a{"data-rel" => "prettyPhoto[gallery1]", :href => asset_url("800x504.gif")}
        %img{:alt => "Image 2", :src => asset_url("800x504.gif")}/
        %i.fa.fa-search
    .item
      %a{"data-rel" => "prettyPhoto[gallery1]", :href => asset_url("800x504.gif")}
        %img{:alt => "Image 3", :src => asset_url("800x504.gif")}/
        %i.fa.fa-search
    .item
      %a{"data-rel" => "prettyPhoto[gallery1]", :href => asset_url("800x504.gif")}
        %img{:alt => "Image 4", :src => asset_url("800x504.gif")}/
        %i.fa.fa-search
