%section.gallery-slider.mt100
  .container
    .row
      .col-md-12
        %h2.lined-heading
          %span Gallery
  #owl-gallery.owl-carousel
    - RoomImage.find_each do |room_image|
      .item
        %a{href: room_image.image.url(:medium), 'data-rel' => 'prettyPhoto[gallery1]'}
          = image_tag room_image.image.url(:medium), alt: room_image.room_type.name || 'Image'
          %i.fa.fa-search
