%header
  / Navigation
  .container.grad.hotel-banner
    .col-md-2.hotel-tel.hidden-sm.hidden-xs
      .fa.fa-phone
      +84 8 38376483
    .col-xs-12.col-md-8.hotel-name.text-center
      Blue River Hotel
    .col-md-2.text-right.hidden-sm.hidden-xs
      .hotel-reservation-btn.text-center
        .fa.fa-calendar
        RESERVATIONS
    .col-xs-12.text-center.visible-xs.visible-sm
      .mobile-button.fa.fa-bars
      %a{:href => "tel:+84838376483"}
        .mobile-button.fa.fa-phone
      .mobile-button.fa.fa-calendar
  #sticky.navbar.yamm.navbar-default
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => "#navbar-collapse-grid", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand
          / Logo
          .logo
            BLUE RIVER HOTEL
            -# %img#default-logo{:alt => "Starhotel", :src => asset_url("logo.png"), :style => "height:44px;"}/
            -# %img#retina-logo{:alt => "Starhotel", :src => asset_url("logo-retina.png"), :style => "height:44px;"}/
      #navbar-collapse-grid.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "#"}
              Rooms
              %b.caret
            %ul.dropdown-menu
              - RoomType.find_each do |room|
                %li
                  = link_to room.name, room_path(room)
          %li.dropdown
            %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "#"}
              Promotions
              %b.caret
            .dropdown-menu
