%header
  / Navigation
  -# .container.grad.hotel-banner
  -#   .col-md-2.hotel-tel.hidden-sm.hidden-xs
  -#     .fa.fa-phone
  -#     +84 8 38376483
  -#     %br
  -#     .fa.fa-envelope
  -#     %a.white{:href => "mailto:blriverhotel@gmail.com"}
  -#       blriverhotel@gmail.com
  -#   %a.white{href: root_path}
  -#     .col-xs-12.col-md-8.hotel-name.text-center
  -#       Blue River Hotel
  -#   .col-md-2.text-right.hidden-sm.hidden-xs
  -#     %a.white{href: 'https://blue-river-hotel-3.hotelrunner.com/bv2/search'}
  -#       .hotel-reservation-btn.text-center
  -#         .fa.fa-calendar
  -#         RESERVATIONS
  -#   .col-xs-12.text-center.visible-xs.visible-sm
  -#     %a{:href => "tel:+84838376483"}
  -#       .mobile-button.fa.fa-phone
  -#     %a{:href => "mailto:blriverhotel@gmail.com"}
  -#       .mobile-button.fa.fa-envelope
  -#     %a.white{href: 'https://blue-river-hotel-3.hotelrunner.com/bv2/search'}
  -#       .mobile-button.fa.fa-calendar
  #sticky.yamm.navbar-default.border-btm
    .container.black
      .navbar-header
        .h1
          Blue River Hotel
        .visible-xs-inline-block.pull-right.contact-mobile
          %a.white-color{:href => "tel:+84838376483"}
            .mobile-button.fa.fa-phone
          %a.white-color{:href => "mailto:blriverhotel@gmail.com"}
            .mobile-button.fa.fa-envelope
      #navbar-collapse-grid.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "#"}
              Accomodations
              %b.caret
            %ul.dropdown-menu
              - RoomType.find_each do |room|
                %li
                  = link_to room.name, room_path(room)
          %li.dropdown
            %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "#"}
              Promotions
              %b.caret
            .dropdown-menu
          %li.dropdown
            %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "#"}
              Tours
              %b.caret
            .dropdown-menu
        .pull-right.white-color.contact-number
          .fa.fa-phone
          %a.white.hotel-tel{href: "tel:+84838376483"}
            +84 8 38376483
          %br
          .fa.fa-phone
          %a.white.hotel-tel{href: "tel:+84901604950"}
            +84 9 01604950
          %br
          .fa.fa-envelope
          %a.white.hotel-email{:href => "mailto:blriverhotel@gmail.com"}
            blriverhotel@gmail.com
        .pull-right.contact-btn
          %a.white-color{:href => "tel:+84838376483"}
            .mobile-button.fa.fa-phone
          %a.white-color{:href => "mailto:blriverhotel@gmail.com"}
            .mobile-button.fa.fa-envelope
