%header
  / Navigation
  #sticky.navbar.yamm.navbar-default
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => "#navbar-collapse-grid", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand
          / Logo
          .logo
            BLUE RIVER HOTEL
            -# %img#default-logo{:alt => "Starhotel", :src => asset_url("logo.png"), :style => "height:44px;"}/
            -# %img#retina-logo{:alt => "Starhotel", :src => asset_url("logo-retina.png"), :style => "height:44px;"}/
      #navbar-collapse-grid.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "#"}
              Rooms
              %b.caret
            %ul.dropdown-menu
              - RoomType.find_each do |room|
                %li
                  = link_to room.name, room_path(room)
          %li.dropdown
            %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "#"}
              Promotions
              %b.caret
            .dropdown-menu
