%header
  #sticky.yamm.navbar-default.border-btm
    .container.black
      .navbar-header
        .h1
          Blue River Hotel
        .visible-xs-inline-block.pull-right.contact-mobile
          %a.white-color{:href => "tel:+84838376483"}
            .mobile-button.fa.fa-phone
          %a.white-color{:href => "mailto:blriverhotel@gmail.com"}
            .mobile-button.fa.fa-envelope
      #navbar-collapse-grid.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "#"}
              Accomodations
              %b.caret
            %ul.dropdown-menu
              - RoomType.find_each do |room|
                %li
                  = link_to room.name, room_path(room)
          %li.dropdown
            %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "#"}
              Promotions
              %b.caret
            .dropdown-menu
          %li.dropdown
            %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "#"}
              Tours
              %b.caret
            .dropdown-menu
        .pull-right.white-color.contact-number
          .fa.fa-phone
          %a.white.hotel-tel{href: "tel:+84838376483"}
            +84 8 38376483
          %br
          .fa.fa-phone
          %a.white.hotel-tel{href: "tel:+84901604950"}
            +84 9 01604950
          %br
          .fa.fa-envelope
          %a.white.hotel-email{:href => "mailto:blriverhotel@gmail.com"}
            blriverhotel@gmail.com
        .pull-right.contact-btn.hidden-lg
          %a.white-color{:href => "tel:+84838376483"}
            .mobile-button.fa.fa-phone
          %a.white-color{:href => "mailto:blriverhotel@gmail.com"}
            .mobile-button.fa.fa-envelope
  .container.overlay.grad.text-center
    .h5.white-color TO BE OR NOT TO BE
