%section.rooms.mt50
  .container
    .row
      .col-sm-12
        %h2.lined-heading
          %span Guests Favorite Rooms
      / Room
      .col-sm-4
        .room-thumb
          %img.img-responsive{:alt => "room 1", :src => asset_url("356x228.gif")}/
          .mask
            .main
              %h5 Double bedroom
              .price
                $ 99
                %span a night
            .content
              %p
                %span A modern hotel room in Star Hotel
                Nunc tempor erat in magna pulvinar fermentum. Pellentesque scelerisque at leo nec vestibulum.
                malesuada metus.
              .row
                .col-xs-6
                  %ul.list-unstyled
                    %li
                      %i.fa.fa-check-circle
                      Incl. breakfast
                    %li
                      %i.fa.fa-check-circle
                      Private balcony
                    %li
                      %i.fa.fa-check-circle
                      Sea view
                .col-xs-6
                  %ul.list-unstyled
                    %li
                      %i.fa.fa-check-circle
                      Free Wi-Fi
                    %li
                      %i.fa.fa-check-circle
                      Incl. breakfast
                    %li
                      %i.fa.fa-check-circle
                      Bathroom
              %a.btn.btn-primary.btn-block{:href => "room-detail.html"} Read More
      / Room
      .col-sm-4
        .room-thumb
          %img.img-responsive{:alt => "room 2", :src => asset_url("356x228.gif")}/
          .mask
            .main
              %h5 King Size Bedroom
              .price
                € 149
                %span a night
            .content
              %p
                %span A modern hotel room in Star Hotel
                Nunc tempor erat in magna pulvinar fermentum. Pellentesque scelerisque at leo nec vestibulum.
                malesuada metus.
              .row
                .col-xs-6
                  %ul.list-unstyled
                    %li
                      %i.fa.fa-check-circle
                      Incl. breakfast
                    %li
                      %i.fa.fa-check-circle
                      Private balcony
                    %li
                      %i.fa.fa-check-circle
                      Sea view
                .col-xs-6
                  %ul.list-unstyled
                    %li
                      %i.fa.fa-check-circle
                      Free Wi-Fi
                    %li
                      %i.fa.fa-check-circle
                      Incl. breakfast
                    %li
                      %i.fa.fa-check-circle
                      Bathroom
              %a.btn.btn-primary.btn-block{:href => "room-detail.html"} Read More
      / Room
      .col-sm-4
        .room-thumb
          %img.img-responsive{:alt => "room 3", :src => asset_url("356x228.gif")}/
          .mask
            .main
              %h5 Single room
              .price
                € 120
                %span a night
            .content
              %p
                %span A modern hotel room in Star Hotel
                Nunc tempor erat in magna pulvinar fermentum. Pellentesque scelerisque at leo nec vestibulum.
                malesuada metus.
              .row
                .col-xs-6
                  %ul.list-unstyled
                    %li
                      %i.fa.fa-check-circle
                      Incl. breakfast
                    %li
                      %i.fa.fa-check-circle
                      Private balcony
                    %li
                      %i.fa.fa-check-circle
                      Sea view
                .col-xs-6
                  %ul.list-unstyled
                    %li
                      %i.fa.fa-check-circle
                      Free Wi-Fi
                    %li
                      %i.fa.fa-check-circle
                      Incl. breakfast
                    %li
                      %i.fa.fa-check-circle
                      Bathroom
              %a.btn.btn-primary.btn-block{:href => "room-detail.html"} Read More
