%section.rooms.mt50
  .container
    .row
      .col-sm-12
        %h2.lined-heading
          %span #{title}
      / Room
      = rooms.find_each do |room_type|
        = render 'rooms/room', room_type: room_type, night: 1, quantity: 1
