#top-header
  .container
    .row
      .col-xs-6
        .th-text.pull-left
          .th-item
            %a{:href => "#"}
              %i.fa.fa-phone
              05-460789986
          .th-item
            %a{:href => "#"}
              %i.fa.fa-envelope
              MAIL@STARHOTEL.COM
      .col-xs-6
        .th-text.pull-right
          .th-item
            .btn-group
              %button.btn.btn-default.btn-xs.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :type => "button"}
                English
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} ENGLISH
                %li
                  %a{:href => "#"} FRANCE
                %li
                  %a{:href => "#"} GERMAN
                %li
                  %a{:href => "#"} SPANISH
          .th-item
            .social-icons
              %a{:href => "#"}
                %i.fa.fa-facebook
              %a{:href => "#"}
                %i.fa.fa-twitter
              %a{:href => "#"}
                %i.fa.fa-youtube-play
