%section.usp.mt100.hidden-xs.hidden-sm
  .container
    .row
      .col-sm-12
        %h2.lined-heading
          %span Amenities
      .col-sm-2.bounceIn.appear.animated{"data-start" => "0"}
        .box-icon
          .circle
            %i.fa.fa-cutlery.fa-large.fa-2x
          %h3 Breakfast Included
      .col-sm-2.bounceIn.appear.animated{"data-start" => "400"}
        .box-icon
          .circle
            %i.fa.fa-credit-card.fa-lg.fa-2x
          %h3 Available 24/7
      .col-sm-2.bounceIn.appear.animated{"data-start" => "800"}
        .box-icon
          .circle
            %i.fa.fa-bus.fa-lg.fa-2x
          %h3 Transportation service
      .col-sm-2.bounceIn.appear.animated{"data-start" => "1200"}
        .box-icon
          .circle
            %i.fa.fa-car.fa-lg.fa-2x
          %h3 Public parking is available
      .col-sm-2.bounceIn.appear.animated{"data-start" => "1200"}
        .box-icon
          .circle
            %i.fa.fa-wifi.fa-lg.fa-2x
          %h3 Wifi is available in all areas
      .col-sm-2.bounceIn.appear.animated{"data-start" => "1200"}
        .box-icon
          .circle
            %i.fa.fa-briefcase.fa-lg.fa-2x
          %h3 Business center
      .col-sm-2.col-sm-offset-5.text-center.mt50
        %a{href: '/amenities'}
          .text-center.black.white-color.button VIEW ALL
