%section.usp.mt100
  .container
    .row
      .col-sm-12
        %h2.lined-heading
          %span USP section
      .col-sm-3.bounceIn.appear{"data-start" => "0"}
        .box-icon
          .circle
            %i.fa.fa-glass.fa-large.fa-2x
          %h3 Beverages included
          %p Soft Drinks, Beers, Wine, Cocktail, and many other special drinks
      .col-sm-3.bounceIn.appear{"data-start" => "400"}
        .box-icon
          .circle
            %i.fa.fa-credit-card.fa-lg.fa-2x
          %h3 We Accept Credit Card
          %p We accept credit card payment. We accept credit card payment. We accept credit card payment. We accept credit card payment. 
      .col-sm-3.bounceIn.appear{"data-start" => "800"}
        .box-icon
          .circle
            %i.fa.fa-usd.fa-lg.fa-2x
          %h3 No Booking Fees
          %p We do not charge for booking. We do not charge for booking. We do not charge for booking. We do not charge for booking. 
      .col-sm-3.bounceIn.appear{"data-start" => "1200"}
        .box-icon
          .circle
            %i.fa.fa-lock.fa-lg.fa-3x
          %h3 Secure With Paypal
          %p We use Paypal for processing your credit cards. This is the best way to secure your sensitive infomation. We highly focus on security.
