%section.usp.mt100.hidden-xs.hidden-sm
  .container
    .row
      .col-sm-12
        %h2.lined-heading
          %span Amenities
      .col-sm-3.bounceIn.appear.animated{"data-start" => "0"}
        .box-icon
          .circle
            %i.fa.fa-glass.fa-large.fa-2x
          %h3 Breakfast Included
          %p Breakfast is the most important meal of the day, so make it special. We have the best breakfast ideas and recipes at The Blue River Hotel.
      .col-sm-3.bounceIn.appear.animated{"data-start" => "400"}
        .box-icon
          .circle
            %i.fa.fa-credit-card.fa-lg.fa-2x
          %h3 Available 24/7
          %p Our service concept is about focusing on a full service programme for you, 24 hours per day 7 days per week. Feel free to call us.
      .col-sm-3.bounceIn.appear.animated{"data-start" => "800"}
        .box-icon
          .circle
            %i.fa.fa-usd.fa-lg.fa-2x
          %h3 No Hidden Fees
          %p No Convenience fees. No Booking fees. No Procesing charges. No Extra charges.
      .col-sm-3.bounceIn.appear.animated{"data-start" => "1200"}
        .box-icon
          .circle
            %i.fa.fa-lock.fa-lg.fa-3x
          %h3 We Highly Focus On your Security
          %p We use the most secure booking engine. This is the best way to secure your sensitive infomation
      .col-sm-2.col-sm-offset-5.text-center
        %a{href: '/amenities'}
          .text-center.black.white-color.button VIEW ALL
