%section.usp.mt100
  .container
    .row
      .col-sm-12
        %h2.lined-heading
          %span USP section
      .col-sm-3.bounceIn.appear{"data-start" => "0"}
        .box-icon
          .circle
            %i.fa.fa-glass.fa-large.fa-2x
          %h3 Beverages included
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.
          %a{:href => "#"}
            Read more
            %i.fa.fa-angle-right
      .col-sm-3.bounceIn.appear{"data-start" => "400"}
        .box-icon
          .circle
            %i.fa.fa-credit-card.fa-lg.fa-2x
          %h3 Stay First, Pay After!
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.
          %a{:href => "#"}
            Read more
            %i.fa.fa-angle-right
      .col-sm-3.bounceIn.appear{"data-start" => "800"}
        .box-icon
          .circle
            %i.fa.fa-cutlery.fa-lg.fa-2x
          %h3 24 Hour Restaurant
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.
          %a{:href => "#"}
            Read more
            %i.fa.fa-angle-right
      .col-sm-3.bounceIn.appear{"data-start" => "1200"}
        .box-icon
          .circle
            %i.fa.fa-lock.fa-lg.fa-3x
          %h3 Spa Included!
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.
          %a{:href => "#"}
            Read more
            %i.fa.fa-angle-right
