%form#myContainer{:action => "/checkout", :method => "post"}
  %button.btn.btn-default Reserve Now
-# #top-header
-#   .container
-#     .row
-#       .col-xs-6
-#         .th-text.pull-left
-#           .th-item
-#             %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#               %i.fa.fa-phone
-#               05-460789986
-#           .th-item
-#             %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#               %i.fa.fa-envelope
-#               MAIL@STARHOTEL.COM
-#       .col-xs-6
-#         .th-text.pull-right
-#           .th-item
-#             .btn-group
-#               %button.btn.btn-default.btn-xs.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :type => "button"}
-#                 English
-#                 %span.caret
-#               %ul.dropdown-menu
-#                 %li
-#                   %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"} ENGLISH
-#                 %li
-#                   %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"} FRANCE
-#                 %li
-#                   %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"} GERMAN
-#                 %li
-#                   %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"} SPANISH
-#           .th-item
-#             .social-icons
-#               %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                 %i.fa.fa-facebook
-#               %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                 %i.fa.fa-twitter
-#               %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                 %i.fa.fa-youtube-play
-# / Header
-# %header
-#   / Navigation
-#   #sticky-sticky-wrapper.sticky-wrapper{:style => "height: 84px;"}
-#     #sticky-sticky-wrapper.sticky-wrapper{:style => "height: 84px;"}
-#       #sticky.navbar.yamm.navbar-default{:style => ""}
-#         .container
-#           .navbar-header
-#             %button.navbar-toggle{"data-target" => "#navbar-collapse-grid", "data-toggle" => "collapse", :type => "button"}
-#               %span.icon-bar
-#               %span.icon-bar
-#               %span.icon-bar
-#             %a.navbar-brand{:href => "http://www.slashdown.net/starhotel-html/index.html"}
-#               / Logo
-#               #logo
-#                 %img#default-logo{:alt => "Starhotel", :src => asset_path('default/logo'), :style => "height:44px;"}/
-#                 %img#retina-logo{:alt => "Starhotel", :src => asset_path('default/logo-retina'), :style => "height:44px;"}/
-#           #navbar-collapse-grid.navbar-collapse.collapse
-#             %ul.nav.navbar-nav
-#               %li.dropdown.active
-#                 %a{:href => "http://www.slashdown.net/starhotel-html/index.html"} Home
-#               %li.dropdown
-#                 %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                   Rooms
-#                   %b.caret
-#                 %ul.dropdown-menu
-#                   %li
-#                     %a{:href => "http://www.slashdown.net/starhotel-html/room-list.html"} Room List View
-#                   %li
-#                     %a{:href => "http://www.slashdown.net/starhotel-html/room-detail.html"} Room Detail
-#               %li.dropdown
-#                 %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                   Features
-#                   %b.caret
-#                 .dropdown-menu
-#                   .yamm-content
-#                     .row
-#                       %ul.col-sm-3.list-unstyled.mt20
-#                         %li
-#                           %p
-#                             %strong Elements
-#                         %li
-#                           %a{:href => "http://www.slashdown.net/starhotel-html/elements.html"} Elements
-#                         %li
-#                           %a{:href => "http://www.slashdown.net/starhotel-html/icons.html"} Icons
-#                         %li
-#                           %a{:href => "http://www.slashdown.net/starhotel-html/404.html"} 404 Page
-#                       %ul.col-sm-3.list-unstyled.mt20
-#                         %li
-#                           %p
-#                             %strong Layout
-#                         %li
-#                           %a{:href => "http://www.slashdown.net/starhotel-html/boxed-pattern.html"}
-#                             %i.fa.fa-square-o
-#                             Boxed
-#                         %li
-#                           %a{:href => "http://www.slashdown.net/starhotel-html/index.html"}
-#                             %i.fa.fa-arrows-h
-#                             Wide
-#                         %li
-#                           %a{:href => "http://www.slashdown.net/starhotel-html/boxed-background.html"}
-#                             %i.fa.fa-picture-o
-#                             Image
-#                       %ul.col-sm-6.list-unstyled.mt20
-#                         %li
-#                           %p
-#                             %strong Colors
-#                           %ul.list-unstyled
-#                             %li.row
-#                               %ul.col-sm-6.list-unstyled
-#                                 %li
-#                                   %a#black.styleswitch{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                                     %i.fa.fa-circle{:style => "color:#000;"}
-#                                     Black
-#                                 %li
-#                                   %a#blue.styleswitch{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                                     %i.fa.fa-circle{:style => "color:#057ad4;"}
-#                                     Blue
-#                                 %li
-#                                   %a#brown.styleswitch{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                                     %i.fa.fa-circle{:style => "color:#A76837;"}
-#                                     Brown
-#                                 %li
-#                                   %a#green.styleswitch{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                                     %i.fa.fa-circle{:style => "color:#7ec923;"}
-#                                     Green
-#                               %ul.col-sm-6.list-unstyled
-#                                 %li
-#                                   %a#orange.styleswitch{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                                     %i.fa.fa-circle{:style => "color:#dc7b13;"}
-#                                     Orange
-#                                 %li
-#                                   %a#purple.styleswitch{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                                     %i.fa.fa-circle{:style => "color:#e331bf;"}
-#                                     Purple
-#                                 %li
-#                                   %a#red.styleswitch{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                                     %i.fa.fa-circle{:style => "color:#c20808;"}
-#                                     Red
-#                                 %li
-#                                   %a#turquoise.styleswitch{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                                     %i.fa.fa-circle{:style => "color:#75c5cf;"}
-#                                     Turquoise
-#               %li.dropdown
-#                 %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                   Blog
-#                   %b.caret
-#                 %ul.dropdown-menu
-#                   %li
-#                     %a{:href => "http://www.slashdown.net/starhotel-html/blog.html"} Blog grid
-#                   %li
-#                     %a{:href => "http://www.slashdown.net/starhotel-html/blog-post.html"} Blog post
-#               %li
-#                 %a{:href => "http://www.slashdown.net/starhotel-html/gallery.html"} Gallery
-#               %li.dropdown
-#                 %a.dropdown-toggle.js-activated{"data-toggle" => "dropdown", :href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#                   Contact
-#                   %b.caret
-#                 %ul.dropdown-menu
-#                   %li
-#                     %a{:href => "http://www.slashdown.net/starhotel-html/contact-01.html"} Contact 1
-#                   %li
-#                     %a{:href => "http://www.slashdown.net/starhotel-html/contact-02.html"} Contact 2
-#
-# #myCarousel.carousel.slide{"data-ride" => "carousel"}
-#   / Indicators
-#   %ol.carousel-indicators
-#     %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
-#     %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
-#     %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
-#     %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
-#   / Wrapper for slides
-#   .carousel-inner{:role => "listbox"}
-#     .item.active
-#       %img{:alt => "Chania", :src => "https://placekitten.com/1440/500"}/
-#     .item
-#       %img{:alt => "Chania", :src => "https://placekitten.com/1440/500"}/
-#     .item
-#       %img{:alt => "Flower", :src => "https://placekitten.com/1440/500"}/
-#     .item
-#       %img{:alt => "Flower", :src => "https://placekitten.com/1440/500"}/
-#   / Left and right controls
-#   %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
-#     %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
-#     %span.sr-only Previous
-#   %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
-#     %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
-#     %span.sr-only Next
-#
-# / Revolution Slider
-# -# %section.revolution-slider
-# -#   .bannercontainer{:style => "overflow: visible;"}
-# -#     #revslider-724.banner.revslider-initialised.tp-simpleresponsive{:style => "height: 449px;"}
-# -#       %ul.tp-revslider-mainul{:style => "display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;"}
-# -#         / Slide 1
-# -#         %li.tp-revslider-slidesli.active-revslide.current-sr-slide-visible{"data-masterspeed" => "1500", "data-slotamount" => "7", "data-transition" => "fade", :style => "width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1;"}
-# -#           / Main Image
-# -#           .slotholder{"data-bgfit" => "cover", "data-bgfitend" => "undefined", "data-bgposition" => "left bottom", "data-bgpositionend" => "undefined", "data-duration" => "undefined", "data-ease" => "undefined", "data-easeme" => "undefined", "data-kenburns" => "undefined", "data-oheight" => "undefined", "data-owidth" => "undefined", "data-rotationend" => "undefined", "data-rotationstart" => "undefined", "data-zoomend" => "undefined", "data-zoomstart" => "undefined", :style => "width:100%;height:100%;"}
-# -#             .tp-bgimg.defaultimg{"data-bgfit" => "cover", "data-bgposition" => "left bottom", "data-bgrepeat" => "no-repeat", "data-lazydone" => "undefined", "data-lazyload" => "undefined", "data-src" => "http://lorempixel.com/g/1280/500/", :src => "http://lorempixel.com/g/1280/500/", :style => "background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(\"http://lorempixel.com/g/1280/500/\"); background-size: cover; background-position: left bottom; width: 100%; height: 100%; visibility: inherit; opacity: 1;"}
-# -#           / Layers
-# -#           / Layer 1
-# -#           .caption.sft.revolution-starhotel.bigtext.tp-caption.start{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "1700", "data-x" => "505", "data-y" => "30", :style => "min-height: 0px; min-width: 0px; line-height: 55px; border-width: 0px; margin: 0px; padding: 1px 4px 0px; letter-spacing: 0px; font-size: 45px; left: 628px; top: 30px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); transition: all 0s ease 0s;"}
-# -#             %span
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#             A Five Star Hotel
-# -#             %span
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#           / Layer 2
-# -#           .caption.sft.revolution-starhotel.smalltext.tp-caption.start{"data-easing" => "easeOutBack", "data-speed" => "800", "data-start" => "1700", "data-x" => "605", "data-y" => "105", :style => "min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px; padding: 1px 4px 0px; letter-spacing: 0px; font-size: 30px; left: 728px; top: 105px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); transition: all 0s ease 0s;"}
-# -#             %span And we like to keep it that way!
-# -#           / Layer 3
-# -#           .caption.sft.tp-caption.start{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1900", "data-x" => "775", "data-y" => "175", :style => "min-height: 0px; min-width: 0px; line-height: 18px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 13px; left: 898px; top: 175px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); transition: all 0s ease 0s;"}
-# -#             %a.button.btn.btn-purple.btn-lg{:href => "http://www.slashdown.net/starhotel-html/room-list.html"} See rooms
-# -#         / Slide 2
-# -#         %li.tp-revslider-slidesli{"data-masterspeed" => "1000", "data-slotamount" => "7", "data-transition" => "boxfade", :style => "width: 100%; height: 100%; overflow: hidden; visibility: hidden; opacity: 0; z-index: 18;"}
-# -#           / Main Image
-# -#           .slotholder{"data-bgfit" => "cover", "data-bgfitend" => "undefined", "data-bgposition" => "left top", "data-bgpositionend" => "undefined", "data-duration" => "undefined", "data-ease" => "undefined", "data-easeme" => "undefined", "data-kenburns" => "undefined", "data-oheight" => "undefined", "data-owidth" => "undefined", "data-rotationend" => "undefined", "data-rotationstart" => "undefined", "data-zoomend" => "undefined", "data-zoomstart" => "undefined", :style => "width:100%;height:100%;"}
-# -#             .tp-bgimg.defaultimg{"data-bgfit" => "cover", "data-bgposition" => "left top", "data-bgrepeat" => "no-repeat", "data-lazydone" => "undefined", "data-lazyload" => "undefined", "data-src" => "http://lorempixel.com/g/1280/500/", :src => "http://lorempixel.com/g/1280/500/", :style => "background-color:rgba(0, 0, 0, 0);background-repeat:no-repeat;background-image:url(\"http://lorempixel.com/g/1280/500/\");background-size:cover;background-position:left top;width:100%;height:100%;"}
-# -#           / Layers
-# -#           / Layer 1
-# -#           .caption.sft.revolution-starhotel.bigtext.tp-caption.start{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "1700", "data-x" => "585", "data-y" => "30"}
-# -#             %span
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#             Double room
-# -#             %span
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#               %i.fa.fa-star-o
-# -#           / Layer 2
-# -#           .caption.sft.revolution-starhotel.smalltext.tp-caption.start{"data-easing" => "easeOutBack", "data-speed" => "800", "data-start" => "1700", "data-x" => "682", "data-y" => "105"}
-# -#             %span € 99,- a night this summer
-# -#           / Layer 3
-# -#           .caption.sft.tp-caption.start{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1900", "data-x" => "785", "data-y" => "175"}
-# -#             %a.button.btn.btn-purple.btn-lg{:href => "http://www.slashdown.net/starhotel-html/room-detail.html"} Book this room
-# -#       .tp-loader.spinner0{:style => "display: none;"}
-# -#         .dot1
-# -#         .dot2
-# -#         .bounce1
-# -#         .bounce2
-# -#         .bounce3
-# -#       .tp-bannertimer{:style => "width: 87.8444%; transform: translate3d(0px, 0px, 0px); visibility: hidden;"}
-# -#     .tp-leftarrow.tparrows.default.round{:style => "position: absolute; margin-top: -20px; left: 20px; top: 224px;"}
-# -#       .tp-arr-allwrapper
-# -#         .tp-arr-iwrapper
-# -#           .tp-arr-imgholder{:style => "visibility: inherit; opacity: 1; background-image: url(\"http://lorempixel.com/g/1280/500/\")"}
-# -#           .tp-arr-imgholder2
-# -#           .tp-arr-titleholder
-# -#           .tp-arr-subtitleholder
-# -#     .tp-rightarrow.tparrows.default.round{:style => "position: absolute; margin-top: -20px; right: 20px; top: 224px;"}
-# -#       .tp-arr-allwrapper
-# -#         .tp-arr-iwrapper
-# -#           .tp-arr-imgholder{:style => "visibility: inherit; opacity: 1; background-image: url(\"http://lorempixel.com/g/1280/500/\")"}
-# -#           .tp-arr-imgholder2
-# -#           .tp-arr-titleholder
-# -#           .tp-arr-subtitleholder
-# / Reservation form
-# %section#reservation-form
-#   .container
-#     .row
-#       .col-md-12
-#         %form#reservationform.form-inline.reservation-horizontal.clearfix{:action => "http://www.slashdown.net/starhotel-html/php/reservation.php", :method => "post", :name => "reservationform", :role => "form"}
-#           / Error message
-#           #message
-#           .row
-#             .col-sm-3
-#               .form-group
-#                 %label{:accesskey => "E", :for => "email"} E-mail
-#                 %input#email.form-control{:name => "email", :placeholder => "Please enter your E-mail", :type => "text", :value => ""}/
-#             .col-sm-2
-#               .form-group
-#                 %label{:for => "room"} Room Type
-#                 .popover-icon{"data-container" => "body", "data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.", "data-original-title" => "", "data-placement" => "right", "data-toggle" => "popover", "data-trigger" => "hover", :title => ""}
-#                   %i.fa.fa-info-circle.fa-lg
-#                 %select#room.form-control{:name => "room"}
-#                   %option{:disabled => "disabled", :selected => "selected"} Select a room
-#                   %option{:value => "Single"} Single room
-#                   %option{:value => "Double"} Double Room
-#                   %option{:value => "Deluxe"} Deluxe room
-#             .col-sm-2
-#               .form-group
-#                 %label{:for => "checkin"} Check-in
-#                 .popover-icon{"data-container" => "body", "data-content" => "Check-In is from 11:00", "data-original-title" => "", "data-placement" => "right", "data-toggle" => "popover", "data-trigger" => "hover", :title => ""}
-#                   %i.fa.fa-info-circle.fa-lg
-#                 %i.fa.fa-calendar.infield
-#                 %input#checkin.form-control{:name => "checkin", :placeholder => "Check-in", :type => "text", :value => ""}/
-#             .col-sm-2
-#               .form-group
-#                 %label{:for => "checkout"} Check-out
-#                 .popover-icon{"data-container" => "body", "data-content" => "Check-out is from 12:00", "data-original-title" => "", "data-placement" => "right", "data-toggle" => "popover", "data-trigger" => "hover", :title => ""}
-#                   %i.fa.fa-info-circle.fa-lg
-#                 %i.fa.fa-calendar.infield
-#                 %input#checkout.form-control{:name => "checkout", :placeholder => "Check-out", :type => "text", :value => ""}/
-#             .col-sm-1
-#               .form-group
-#                 .guests-select
-#                   %label Guests
-#                   %i.fa.fa-user.infield
-#                   #test.total.form-control 1
-#                   .guests{:style => "display: none;"}
-#                     .form-group.adults
-#                       %label{:for => "adults"} Adults
-#                       .popover-icon{"data-container" => "body", "data-content" => "+18 years", "data-original-title" => "", "data-placement" => "right", "data-toggle" => "popover", "data-trigger" => "hover", :title => ""}
-#                         %i.fa.fa-info-circle.fa-lg
-#                       %select#adults.form-control{:name => "adults"}
-#                         %option{:value => "1"} 1 adult
-#                         %option{:value => "2"} 2 adults
-#                         %option{:value => "3"} 3 adults
-#                     .form-group.children
-#                       %label{:for => "children"} Children
-#                       .popover-icon{"data-container" => "body", "data-content" => "0 till 18 years", "data-original-title" => "", "data-placement" => "right", "data-toggle" => "popover", "data-trigger" => "hover", :title => ""}
-#                         %i.fa.fa-info-circle.fa-lg
-#                       %select#children.form-control{:name => "children"}
-#                         %option{:value => "0"} 0 children
-#                         %option{:value => "1"} 1 child
-#                         %option{:value => "2"} 2 children
-#                         %option{:value => "3"} 3 children
-#                     %button.btn.btn-default.button-save.btn-block{:type => "button"} Save
-#             .col-sm-2
-#               %button.btn.btn-primary.btn-block{:type => "submit"} Book Now
-# / Rooms
-# %section.rooms.mt50
-#   .container
-#     .row
-#       .col-sm-12
-#         %h2.lined-heading
-#           %span Guests Favorite Rooms
-#       / Room
-#       .col-sm-4
-#         .room-thumb
-#           %img.img-responsive{:alt => "room 1", :src => "https://placekitten.com/400/300"}/
-#           .mask
-#             .main
-#               %h5 Double bedroom
-#               .price
-#                 € 99
-#                 %span a night
-#             .content
-#               %p
-#                 %span A modern hotel room in Star Hotel
-#                 Nunc tempor erat in magna pulvinar fermentum. Pellentesque scelerisque at leo nec vestibulum.
-#                 malesuada metus.
-#               .row
-#                 .col-xs-6
-#                   %ul.list-unstyled
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Incl. breakfast
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Private balcony
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Sea view
-#                 .col-xs-6
-#                   %ul.list-unstyled
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Free Wi-Fi
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Incl. breakfast
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Bathroom
-#               %a.btn.btn-primary.btn-block{:href => "http://www.slashdown.net/starhotel-html/room-detail.html"} Read More
-#       / Room
-#       .col-sm-4
-#         .room-thumb
-#           %img.img-responsive{:alt => "room 2", :src => "https://placekitten.com/400/300"}/
-#           .mask
-#             .main
-#               %h5 King Size Bedroom
-#               .price
-#                 € 149
-#                 %span a night
-#             .content
-#               %p
-#                 %span A modern hotel room in Star Hotel
-#                 Nunc tempor erat in magna pulvinar fermentum. Pellentesque scelerisque at leo nec vestibulum.
-#                 malesuada metus.
-#               .row
-#                 .col-xs-6
-#                   %ul.list-unstyled
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Incl. breakfast
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Private balcony
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Sea view
-#                 .col-xs-6
-#                   %ul.list-unstyled
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Free Wi-Fi
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Incl. breakfast
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Bathroom
-#               %a.btn.btn-primary.btn-block{:href => "http://www.slashdown.net/starhotel-html/room-detail.html"} Read More
-#       / Room
-#       .col-sm-4
-#         .room-thumb
-#           %img.img-responsive{:alt => "room 3", :src => "https://placekitten.com/400/300"}/
-#           .mask
-#             .main
-#               %h5 Single room
-#               .price
-#                 € 120
-#                 %span a night
-#             .content
-#               %p
-#                 %span A modern hotel room in Star Hotel
-#                 Nunc tempor erat in magna pulvinar fermentum. Pellentesque scelerisque at leo nec vestibulum.
-#                 malesuada metus.
-#               .row
-#                 .col-xs-6
-#                   %ul.list-unstyled
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Incl. breakfast
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Private balcony
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Sea view
-#                 .col-xs-6
-#                   %ul.list-unstyled
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Free Wi-Fi
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Incl. breakfast
-#                     %li
-#                       %i.fa.fa-check-circle
-#                       Bathroom
-#               %a.btn.btn-primary.btn-block{:href => "http://www.slashdown.net/starhotel-html/room-detail.html"} Read More
-# / USP's
-# %section.usp.mt100
-#   .container
-#     .row
-#       .col-sm-12
-#         %h2.lined-heading
-#           %span USP section
-#       .col-sm-3.bounceIn.appear.animated{"data-start" => "0"}
-#         .box-icon
-#           .circle
-#             %i.fa.fa-glass.fa-lg
-#           %h3 Beverages included
-#           %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.
-#           %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#             Read more
-#             %i.fa.fa-angle-right
-#       .col-sm-3.bounceIn.appear.animated{"data-start" => "400"}
-#         .box-icon
-#           .circle
-#             %i.fa.fa-credit-card.fa-lg
-#           %h3 Stay First, Pay After!
-#           %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.
-#           %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#             Read more
-#             %i.fa.fa-angle-right
-#       .col-sm-3.bounceIn.appear.animated{"data-start" => "800"}
-#         .box-icon
-#           .circle
-#             %i.fa.fa-cutlery.fa-lg
-#           %h3 24 Hour Restaurant
-#           %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.
-#           %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#             Read more
-#             %i.fa.fa-angle-right
-#       .col-sm-3.bounceIn.appear.animated{"data-start" => "1200"}
-#         .box-icon
-#           .circle
-#             %i.fa.fa-tint.fa-lg
-#           %h3 Spa Included!
-#           %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.
-#           %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"}
-#             Read more
-#             %i.fa.fa-angle-right
-# / Gallery
-# %section.gallery-slider.mt100
-#   .container
-#     .row
-#       .col-md-12
-#         %h2.lined-heading
-#           %span Gallery
-#   #owl-gallery.owl-carousel.owl-theme{:style => "display: block; opacity: 1;"}
-#     .owl-wrapper-outer
-#       .owl-wrapper{:style => "display: block; width: 4720px; left: 0px; transition: all 1000ms ease; transform: translate3d(0px, 0px, 0px);"}
-#         .owl-item{:style => "width: 472px;"}
-#           .owl-wrapper-outer
-#             .owl-wrapper-outer
-#               .owl-wrapper{:style => "display: block; width: 4720px; left: 0px; transition: all 1000ms ease; transform: translate3d(0px, 0px, 0px);"}
-#                 .owl-item{:style => "width: 472px;"}
-#                   .item
-#                     %a{"data-rel" => "prettyPhoto[gallery1]", :href => "https://placekitten.com/800/600", :rel => "prettyPhoto[gallery1]"}
-#                       %img{:alt => "Image 1", :src => "https://placekitten.com/800/600"}/
-#                       %i.fa.fa-search
-#                 .owl-item{:style => "width: 472px;"}
-#                   .item
-#                     %a{"data-rel" => "prettyPhoto[gallery1]", :href => "https://placekitten.com/800/600", :rel => "prettyPhoto[gallery1]"}
-#                       %img{:alt => "Image 2", :src => "https://placekitten.com/800/600"}/
-#                       %i.fa.fa-search
-#                 .owl-item{:style => "width: 472px;"}
-#                   .item
-#                     %a{"data-rel" => "prettyPhoto[gallery1]", :href => "https://placekitten.com/800/600", :rel => "prettyPhoto[gallery1]"}
-#                       %img{:alt => "Image 3", :src => "https://placekitten.com/800/600"}/
-#                       %i.fa.fa-search
-#                 .owl-item{:style => "width: 472px;"}
-#                   .item
-#                     %a{"data-rel" => "prettyPhoto[gallery1]", :href => "https://placekitten.com/800/600", :rel => "prettyPhoto[gallery1]"}
-#                       %img{:alt => "Image 4", :src => "https://placekitten.com/800/600"}/
-#                       %i.fa.fa-search
-# .container
-#   .row
-#     / Testimonials
-#     %section.testimonials.mt100
-#       .col-md-6
-#         %h2.lined-heading.bounceInLeft.appear.animated{"data-start" => "0"}
-#           %span What Other Visitors Experienced
-#         #owl-reviews.owl-carousel.owl-theme{:style => "display: block; opacity: 1;"}
-#           .owl-wrapper-outer
-#             .owl-wrapper{:style => "display: block; width: 3320px; left: 0px; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);"}
-#               .owl-item{:style => "width: 415px;"}
-#                 .item
-#                   .row
-#                     .col-lg-3.col-md-4.col-sm-2.col-xs-12
-#                       %img.img-circle.img-review{:alt => "Review 1", :src => "https://placekitten.com/300/300"}/
-#                     .col-lg-9.col-md-8.col-sm-10.col-xs-12
-#                       .text-balloon
-#                         Searched the internet and i found, booked and visited this hotel that i like to call utopia...
-#                         %span Kim Jones, Single Room
-#                   .row
-#                     .col-lg-3.col-md-4.col-sm-2.col-xs-12
-#                       %img.img-circle.img-review{:alt => "Review 2", :src => "https://placekitten.com/300/300"}/
-#                     .col-lg-9.col-md-8.col-sm-10.col-xs-12
-#                       .text-balloon
-#                         I give it a 5 out of 5! Great hotel, friendly staff, clean, relaxing... Yep i'm coming back! ;-)
-#                         %span Sandra Donnathan, Double Room
-#               .owl-item{:style => "width: 415px;"}
-#                 .item
-#                   .row
-#                     .col-lg-3.col-md-4.col-sm-2.col-xs-12
-#                       %img.img-circle.img-review{:alt => "Review 3", :src => "https://placekitten.com/300/300"}/
-#                     .col-lg-9.col-md-8.col-sm-10.col-xs-12
-#                       .text-balloon
-#                         Such a nice place... Next time i will book a 3 weeks stay at this place.
-#                         %span Rosanne O'Donald, Single Room
-#                   .row
-#                     .col-lg-3.col-md-4.col-sm-2.col-xs-12
-#                       %img.img-circle.img-review{:alt => "Review 4", :src => "https://placekitten.com/300/300"}/
-#                     .col-lg-9.col-md-8.col-sm-10.col-xs-12
-#                       .text-balloon
-#                         By far the best hotel in the city! Location is nice and the service is great!
-#                         %span Carl Adams, Single Room
-#           .owl-controls.clickable
-#             .owl-buttons
-#               .owl-prev
-#                 %i.fa.fa-angle-left.fa-3x
-#               .owl-next
-#                 %i.fa.fa-angle-right.fa-3x
-#     / About
-#     %section.about.mt100
-#       .col-md-6
-#         %h2.lined-heading.bounceInRight.appear.animated{"data-start" => "800"}
-#           %span Hotel Tabs
-#         / Nav tabs
-#         %ul.nav.nav-tabs
-#           %li.active
-#             %a{"data-toggle" => "tab", :href => "http://www.slashdown.net/starhotel-html/index.html#hotel"} Our hotels
-#           %li
-#             %a{"data-toggle" => "tab", :href => "http://www.slashdown.net/starhotel-html/index.html#events"} Events
-#           %li
-#             %a{"data-toggle" => "tab", :href => "http://www.slashdown.net/starhotel-html/index.html#kids"} Kids
-#         / Tab panes
-#         .tab-content
-#           #hotel.tab-pane.fade.in.active
-#             %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum. In hendrerit risus arcu, in eleifend metus dapibus varius. Nulla dolor sapien, laoreet vel tincidunt non, egestas non justo. Phasellus et mattis lectus, et gravida urna.
-#             %p
-#               %img.pull-right{:alt => "food", :src => "./Starhotel_files/restaurant-01.jpg"}/
-#               Donec pretium sem non tincidunt iaculis. Nunc at pharetra eros, a varius leo. Mauris id hendrerit justo. Mauris egestas magna vitae nisi ultricies semper. Nam vitae suscipit magna. Nam et felis nulla. Ut nec magna tortor. Nulla dolor sapien, laoreet vel tincidunt non, egestas non justo.
-#           #events.tab-pane.fade Phasellus sodales justo felis, a vestibulum risus mattis vitae. Aliquam vitae varius elit, non facilisis massa. Vestibulum luctus diam mollis gravida bibendum. Aliquam mattis velit dolor, sit amet semper erat auctor vel. Integer auctor in dui ac vehicula. Integer fermentum nunc ut arcu feugiat, nec placerat nunc tincidunt. Pellentesque in massa eu augue placerat cursus sed quis magna.
-#           #kids.tab-pane.fade Aa vestibulum risus mattis vitae. Aliquam vitae varius elit, non facilisis massa. Vestibulum luctus diam mollis gravida bibendum. Aliquam mattis velit dolor, sit amet semper erat auctor vel. Integer auctor in dui ac vehicula. Integer fermentum nunc ut arcu feugiat, nec placerat nunc tincidunt. Pellentesque in massa eu augue placerat cursus sed quis magna.
-# / Call To Action
-# %section#call-to-action.mt100
-#   .container
-#     .row
-#       .col-md-8.col-sm-8.col-xs-12
-#         %h2 This is a Call to Action! Need a hotel/resort/inn template?
-#       .col-md-4.col-sm-4.col-xs-12
-#         %a.btn.btn-default.btn-lg.pull-right{:href => "http://themeforest.net/item/starhotel-responsive-hotel-booking-template/7784956", :target => "_blank"} Purchase hotel template
-# / Footer
-# %footer
-#   .container
-#     .row
-#       .col-md-3.col-sm-3
-#         %h4 About Starhotel
-#         %p
-#           Suspendisse sed sollicitudin nisl, at dignissim libero. Sed porta tincidunt ipsum, vel volutpat.
-#           %br/
-#           %br/
-#           Nunc ut fringilla urna. Cras vel adipiscing ipsum. Integer dignissim nisl eu lacus interdum facilisis. Aliquam erat volutpat. Nulla semper vitae felis vitae dapibus.
-#       .col-md-3.col-sm-3
-#         %h4 Recieve our newsletter
-#         %p Suspendisse sed sollicitudin nisl, at dignissim libero. Sed porta tincidunt ipsum, vel volutpa!
-#         %form{:role => "form"}
-#           .form-group
-#             %input#newsletter.form-control{:name => "newsletter", :placeholder => "Please enter your E-mailaddress", :type => "text", :value => ""}/
-#           %button.btn.btn-lg.btn-black.btn-block{:type => "submit"} Submit
-#       .col-md-3.col-sm-3
-#         %h4 From our blog
-#         %ul
-#           %li
-#             %article
-#               %a{:href => "http://www.slashdown.net/starhotel-html/blog-post.html"}
-#                 This is a video post
-#                 %br>/
-#                 April 15 2014
-#           %li
-#             %article
-#               %a{:href => "http://www.slashdown.net/starhotel-html/blog-post.html"}
-#                 An image post
-#                 %br>/
-#                 April 14 2014
-#           %li
-#             %article
-#               %a{:href => "http://www.slashdown.net/starhotel-html/blog-post.html"}
-#                 Audio included post
-#                 %br>/
-#                 April 12 2014
-#       .col-md-3.col-sm-3
-#         %h4 Address
-#         %address
-#           %strong Starhotel
-#           %br/
-#           795 Las Palmas
-#           %br/
-#           Spain, CA 94107
-#           %br/
-#           %abbr{:title => "Phone"} P:
-#           %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"} (123) 456-7890
-#           %br/
-#           %abbr{:title => "Email"} E:
-#           %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"} mail@example.com
-#           %br/
-#           %abbr{:title => "Website"} W:
-#           %a{:href => "http://www.slashdown.net/starhotel-html/index.html#"} www.slashdown.nl
-#           %br/
-#   .footer-bottom
-#     .container
-#       .row
-#         .col-xs-6 © 2014 Starhotel All Rights Reserved
-#         .col-xs-6.text-right
-#           %ul
-#             %li
-#               %a{:href => "http://www.slashdown.net/starhotel-html/contact-01.html"} Contact
-# / Go-top Button
-# #go-top{:style => "display: none;"}
-#   %i.fa.fa-angle-up.fa-2x
-# #ascrail2000.nicescroll-rails{:style => "width: 7px; z-index: auto; position: absolute; top: 1568px; left: 1409px; height: 302px; cursor: default; display: none;"}
-#   %div{:style => "position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(66, 66, 66); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;"}
-# #ascrail2000-hr.nicescroll-rails{:style => "height: 7px; z-index: auto; top: 1863px; left: 0px; position: absolute; cursor: default; display: none;"}
-#   %div{:style => "position: relative; top: 0px; height: 5px; width: 0px; background-color: rgb(66, 66, 66); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;"}
-# #ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
-# #ascrail2001.nicescroll-rails{:style => "width: 7px; z-index: auto; position: absolute; top: 1527px; left: 1120px; height: 302px; cursor: default; opacity: 0; display: none;"}
-#   %div{:style => "position: relative; float: right; width: 5px; background-color: rgb(66, 66, 66); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px; height: 0px; top: 0px;"}
-# #ascrail2001-hr.nicescroll-rails{:style => "height: 7px; z-index: auto; top: 1822px; left: 0px; position: absolute; cursor: default; opacity: 0; display: none;"}
-#   %div{:style => "position: relative; top: 0px; height: 5px; background-color: rgb(66, 66, 66); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px; width: 0px; left: 0px;"}
