// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel{
  z-index: 0;
}

.img-review{
  max-width: 100px;
}

select.form-control.total {
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

@media (min-width: 768px) {
  .form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
}
