// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel{
  z-index: 0;
}

.img-review{
  max-width: 100px;
}

select.form-control.total {
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

@media (min-width: 768px) {
  .form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
}

.logo {
  padding-top: 30px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .logo {
    padding-top: 5px;
  }
}

.navbar-nav > li > a > .social {
  padding: 0px 10px;
}


.navbar-nav > li > a > .fa-facebook:hover {
  color: lightseagreen;
}

li.fb-login-btn > a > .btn {
  background-color: #3b5998
}

li.tw-login-btn > a > .btn {
  background-color: #0084b4
}

li.gg-login-btn > a > .btn {
  background-color: #D34836
}

strong.social-login {
  margin: 10px
}

.social-login-btn {
  width: 100%
}

@media (max-width: 768px) {
  .nav.navbar-nav.logout{
    float: left;
  }
}
.mt50 .rooms-row {
  margin-bottom: 40px
}
.blur{
  height: 200px;
  padding: 50px;
}

#call-to-action{
  margin-bottom: 50px;
}

.row.overlay{
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.1);
  color: whitesmoke;
}

.white-color{
  color: white;
}

.yamm a.white-color{
  color: white;
}
.tour-image {
  margin: 0 10px;
  max-height: 200px;
}

.center-image {
  margin: 0 auto;
}

.tour-time-highlight{
  font-size: 17px;
  font-weight: bold;
  color: lightseagreen;
}

.tour-time{
  font-size: 17px;
  color: orangered;
}

.booking-btn p{
  padding: 10px 20px 0px 20px;
  font-weight: bold;
  font-size: 15px;
}

.review-name{
  color: #5e5e5e;
  font-weight: bold;
  font-size: 15px;
}

.progress-bar.review{
  background: #000;
}

.progress.review {
  background: #cccccc;
}

.grad {
  background: #918787; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #918787 , #000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #918787, #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #918787, #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #918787 , #000); /* Standard syntax */
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
.black {
  background: black
}

.hotel-banner{
  color: white;
}

.hotel-name {
  font-size: 75px;
  font-weight: bold;
  padding: 36px 0;
  font-family: 'Kaushan Script', cursive;
}

.hotel-tel, .hotel-email {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.hotel-reservation-btn{
  margin: 80px 0;
  font-size: 14px;
  border: solid 1px;
  padding: 10px;
}

.col-xs-12.text-center.visible-xs.visible-sm a{
  text-decoration: none;
  color: white;
}

footer {
  color: white;
}

footer h4{
  color: white;
}

.grad-grey .nav li a {
  color: white;
}
.grad-grey .nav li.dropdown.open a.dropdown-toggle.js-activated{
  background: transparent;
}

.btn-primary {
  border: white;
}

a.white {
  color: white;
  text-decoration: none;
}

a.white:hover{
  color: white;
}

.text-balloon span{
  font-weight: bold;
}

.border-btm{
  border-bottom: 1px solid white;
}

.social-btn{
  font-weight: bold;
  border: 1px solid white;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 30px;
}

.navbar-header .h1{
  color: white;
  font-family: 'Kaushan Script', cursive;
}

#footer-bottom-grad{
  background: #383535; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #383535 , #000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #383535, #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #383535, #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #383535 , #000); /* Standard syntax */
}

.contact-number{
  padding: 20px;
}

.contact-btn{
  padding: 18px;
}
.contact-mobile{
  padding-top: 5px;
}
.mobile-button{
  font-size: 18px;
  border: solid 1px;
  padding: 4px 9px;
  margin: 3px;
}

.button {
  padding: 4px;
  font-weight: bold;
  font-size: 15px;
}

.carousel {
  padding: 30px 0;
}

ol li.carousel-dot{
  background-color: grey;
}

.borderless > tbody > tr > th{
    border: none;
}

.borderless > tbody > tr > td:first-child{
    border: none;
}

.borderless > tbody > tr:last-child > td:last-child{
    border-bottom: 1px solid #ebebeb;
}

#room-carousel li.active{
  background-color: black;
}

.text-desc {
  font-size: 18px;
}

#menu{
  background: #353232;
}

#book-now-btn-mobile{
  position: fixed;
  bottom: 0;
  z-index: 9999;
}

.mt50 .black-color {
  font-size: 20;
  font-weight: normal;
}

.box-icon p{
  padding: 10px 0px;
}

.book-form {
  z-index: 999;
}

.reserve-btn {
  display: inline-block;
  margin: 0 5px;
}

#booknow-hr-TopRight{
  display: none;
}

@media (max-width: 767px) {

  .grad-grey .nav li a {
    color: #777;
  }
  .grad-grey{
    background: white;
  }
  .hotel-name{
    font-size: 30px;
    padding: 0;
  }
  .grad-grey .nav li.dropdown.open a{
    background: white;
  }
  .navbar-header .h1{
    display: inline;
  }

  .navbar-header {
    padding: 0 10px;
  }

  .yamm .container {
    padding: 12px;
  }

  .box-icon .circle{
    padding: 15px;
  }
}
@media (min-width: 767px) and (max-width: 990px) {
  .contact-number{
    display: none;
  }
  .navbar-nav{
    display: none;
  }
}
@media (min-width: 990px){
  .contact-btn{
    display: none;
  }
}

@media (max-width: 468px){
  .fa-2x{
    font-size: 20px;
  }
  .box-icon .circle{
    padding: 5px;
  }
  .box-icon .circle .fa{
    padding: 4px 2px;
  }
}
@media (max-width: 1200px){
  .yamm .container{
    width: 100%;
  }

  .container.overlay{
    width: 100%;
  }
}
