// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel{
  z-index: 0;
}

.img-review{
  max-width: 100px;
}

select.form-control.total {
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

@media (min-width: 768px) {
  .form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
}

.logo {
  padding-top: 30px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .logo {
    padding-top: 5px;
  }
}

.navbar-nav > li > a > .social {
  padding: 0px 10px;
}


.navbar-nav > li > a > .fa-facebook:hover {
  color: lightseagreen;
}

li.fb-login-btn > a > .btn {
  background-color: #3b5998
}

li.tw-login-btn > a > .btn {
  background-color: #0084b4
}

li.gg-login-btn > a > .btn {
  background-color: #D34836
}

strong.social-login {
  margin: 10px
}

.social-login-btn {
  width: 100%
}

@media (max-width: 768px) {
  .nav.navbar-nav.logout{
    float: left;
  }
}
.mt50 .rooms-row {
  margin-bottom: 40px
}
.blur{
  height: 200px;
  padding: 50px;
}

#call-to-action{
  margin-bottom: 50px;
}

.row.overlay{
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.1);
  background-color: #7cd0cb;
  color: whitesmoke;
}

.white-color{
  color: white;
}
.tour-image {
  margin: 0 10px;
  max-height: 200px;
}

.tour-time-highlight{
  font-size: 17px;
  font-weight: bold;
  color: lightseagreen;
}

.tour-time{
  font-size: 17px;
  color: orangered;
}
