.row
  = link_to admin_room_types_path do
    .col-sm-3
      %h1 RoomTypes
  = link_to admin_landing_images_path do
    .col-sm-3
      %h1 Landing Image
  = link_to admin_review_images_path do
    .col-sm-3
      %h1 Reviews
  = link_to admin_tours_path do
    .col-sm-3
      %h1 Tours
